<div ng-controller="step2Ctrl" class="controller">  
  <md-content>
    <form style="padding: 20px;">
      <md-text-float label="页面标题" ng-model="config.title"> </md-text-float>
      <div class="row">
          <md-text-float label="webbannerIMGurl" ng-model="config.webbanner"> </md-text-float>
          <md-text-float label="webbottomIMGurl" ng-model="config.webbottom"> </md-text-float>
      </div>
      <md-text-float label="跳转地址" ng-model="config.link"> </md-text-float>
      <div class="row">
        <md-text-float label="分享标题" ng-model="config.share.title"> </md-text-float>
        <md-text-float label="分享链接" ng-model="config.share.link"> </md-text-float>
        <md-text-float label="分享Thumb" ng-model="conig.share.thumb"> </md-text-float>
      </div>
    </form>
    <md-button class="md-raised md-primary" ng-click="configTpl()">生成页面</md-button>
  </md-content>
</div>
