extends layout

block content
  script(src="js/app.js")
  script(src="js/controllers.js")
  body(ng-app="tsApp")
  div.view-container
     md-progress-linear(mode="determinate" ng-value="determinateValue")
     adiv.view-frame(ng-view)


