doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/ng-animation.css')
    link(rel='stylesheet', href='bower_components/angular-material/themes/blue-theme.css')
    link(rel='stylesheet', href='bower_components/angular-material/angular-material.css')
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/hammerjs/hammer.js")
    script(src="bower_components/angular-material/angular-material.js")
    block content
