doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/bower_components/angular-material/themes/default-theme.css')
  body
    block content
