doctype html
html
  head
    title= title
    link(rel='stylesheet', href='js/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='js/bower_components/angular-material/themes/default-theme.css')
    script(src="js/bower_components/angular/angular.js")
    script(src="js/bower_components/angular-route/angular-route.js")
    script(src="js/bower_components/angular-aria/angular-aria.js")
    script(src="js/bower_components/angular-animate/angular-animate.js")
    script(src="js/bower_components/hammerjs/hammer.js")
    script(src="js/bower_components/angular-material/angular-material.js")

    block content
