.main{
width: 800px;
padding: 20px 0;
margin: 0 auto;
}
.center-blk{
display:block;
margin:0 auto;
}

.center-inlblk{
display:inline-block;
margin:0 auto;
}

.controller{
text-align:center;
position:relative;
}

.controller input{
display:inline-block !important;
}

.controller img{
display:block;
}

.phone-frame{
width: 320px;
height: 480px;
z-index: 9999;
position: absolute;
left: 240px;
top: 117px;
}
